body {
    background-color: #f5f5f5;
}

.todo-title {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.todo-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task.completed {
    text-decoration: line-through;
    color: gray;
}